/Is2103Assignment2/nbproject/private/
/Is2103Assignment2/Is2103Assignment2-war/nbproject/private/
/Is2103Assignment2/Is2103Assignment2-ejb/nbproject/private/
/Is2103Assignment-CARSClient/nbproject/private/
/Is2103Assignment1-CARSClient/nbproject/private/
/IS2103Assignment1-SSKClient/nbproject/private/
/Is2103Assignment2CatClient/nbproject/private/
/Is2103Assignment2KioskClient/nbproject/private/
/Is2103Assignment2Library/nbproject/private/
/Is2103Assignment2Library/build/
/IS2103Assignment2AMSClient/nbproject/private/
/Is2103Assignment2Library/dist/
/Is2103Assignment2KioskClient/build/
/Is2103Assignment2KioskClient/dist/
/Is2103Assignment2CatClient/build/
/Is2103Assignment2CatClient/dist/
/IS2103Assignment2AMSClient/build/
/IS2103Assignment2AMSClient/dist/